{% extends 'base.html' %}
{% load staticfiles %}
{% block mainpage %}


    <div class="page-header">
        <h1>Email Test Details : {{ test.name }}</h1>
    </div>



        <div class="table-responsive">
            <table class="table table-striped">
                  <tbody>
                        <tr>
                            <td>Name:</td>
                            <td>{{ test.name }}</td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td>{{ test_status }}</td>
                        </tr>
                        {% if test.fromaddr %}
                            <tr>
                                <td>From Address:</td>
                                <td>{{ test.fromaddr }}</td>
                            </tr>
                        {% endif %}
                        {% if test.subject %}
                            <tr>
                                <td>Subject:</td>
                                <td>{{ test.subject }}</td>
                            </tr>
                        {% endif %}
                        {% if test.body %}
                            <tr>
                                <td>Message Body:</td>
                                <td>{{ test.body }}</td>
                            </tr>
                        {% endif %}
                        {% if test.messagetype %}
                            <tr>
                                <td>Message Type:</td>
                                <td>{{ test.messagetype }}</td>
                            </tr>
                        {% endif %}
                        {% if test.testtype %}
                            <tr>
                                <td>Test Type:</td>
                                <td>{{ test.testtype }}</td>
                            </tr>
                        {% endif %}
                        {% if test.targets.count > 0 %}
                            <tr>
                                <td>Test Targets:</td>
                                <td>
                                    <ul>
                                        {% for target in test.targets.all %}
                                            <li>{{ target.target.identifier }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    <a href="{% url 'email-test-update' test.id %}" class="btn btn-primary">Update</a>
                    <a href="{% url 'email-test-delete' test.id %}" class="btn btn-danger">Delete</a>
                    <a href="{% url 'email-test-send' test.id %}" class="btn btn-primary">Send</a>



    </div>

{% endblock %}

