{% extends 'base.html' %}
{% load staticfiles %}
{% block mainpage %}

    <div class="page-header">
        <h1>Twitter Test Details : {{ test.name }}</h1>
    </div>



        <div class="table-responsive">
            <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>Name:</td>
                            <td>{{ test.name }}</td>
                        </tr>
                        {% if test.testtype %}
                            <tr>
                                <td>Test Type:</td>
                                <td>{{ test.testtype }}</td>
                            </tr>
                        {% endif %}
                        {% if test.tweet.tweet %}
                            <tr>
                                <td>Tweet:</td>
                                <td>{{ test.tweet.tweet }}</td>
                            </tr>
                        {% endif %}
                        {% if test.link%}
                            <tr>
                                <td>Link:</td>
                                <td>{{ test.link }}</td>
                            </tr>
                        {% endif %}
                        {% if test.twitteraccount %}
                            <tr>
                                <td>Sender Twitter Account:</td>
                                <td>{{ test.twitteraccount.username }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                     <a href="{% url 'twitter-test-update' test.id %}" class="btn btn-primary">Update</a>
                    <a href="{% url 'twitter-test-delete' test.id %}" class="btn btn-danger">Delete</a>
                    <a href="{% url 'twitter-test-send' test.id %}" class="btn btn-primary">Send</a>


    </div>

{% endblock %}

