# A file called 'secrets.env' can be used to add extra variables to
# your development environment.
#
# If you need to tailor some of these settings, copy this file
# from 'secrets.env.example' to 'secrets.env'.
#
# Please never commit your copy of secret.env to a repository.

# Set this variable to 'true' if you want to disable the Django Debug Toolbar.
DISABLE_DJANGO_DEBUG_TOOLBAR=false

# Set these three variables if you are testing the google apps integration.
GOOGLE_OAUTH2_CLIENT_ID=
GOOGLE_OAUTH2_CLIENT_SECRET=
GOOGLE_OAUTH2_REDIRECT_URL=http://<YOUR_DOMAIN:PORT>/google_auth/oath2callback

