# A file called 'secrets.env' can be used to add extra variables to
# your development environment.
#
# If you need to tailor some of these settings, copy this file
# from 'secrets.env.example' to 'secrets.env'.
#
# Please never commit your copy of secret.env to a repository.

# set this value to 'false' turn off Django's 'DEBUG' mode. For now while
# AVA is in development, it defaults to 'true'
DJANGO_DEBUG=false

# Set this variable to 'true' if you want to enable the Django Debug Toolbar.
ENABLE_DJANGO_DEBUG_TOOLBAR=false

# Set these three variables if you are testing the google apps integration.
GOOGLE_OAUTH2_CLIENT_ID=
GOOGLE_OAUTH2_CLIENT_SECRET=
GOOGLE_OAUTH2_REDIRECT_URL=http://<YOUR_DOMAIN:PORT>/google_auth/oauth2callback/

## If you're deploying a non-DEBUG/dev version of AVA, you can use this setting
## to configure the ALLOWED_HOSTS django setting. Refer to settings/base.py and
## the documentation for more details.
##
## https://docs.djangoproject.com/en/1.8/ref/settings/#allowed-hosts
# DJANGO_ALLOWED_HOSTS=localhost avasecure.com
