{% extends 'dh5bp/base.html' %}


{# Display django.contrib.messages as Bootstrap alerts #}

{% load staticfiles %} /* for the use of the static variable - see below */
{% load bootstrap3 %} /* for the use of the static variable - see below */
{% load url from future %}

{% block title %}AVA- Protect Your People{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jumbotron-narrow.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-glyphicons.css' %}" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}

{% block content %}
{% block topnavbar %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">AVA - Protect Your People</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if user == None %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% else %}
                    <li><a href="/">Dashboard</a></li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            Know <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'vis-ldap-graph-index' %}">Know Dashboard</a></li>
                            <li><a href="{% url 'group-index' %}">Groups</a></li>
                            <li><a href="{% url 'identity-index' %}">People</a></li>
                        </ul>
                    </li>
                    <li role="presentation">
                        <a href="{% url 'test-dashboard' %}">Test</a>
                    </li>
                    <li role="presentation"></li>
                            <li><a href="{% url 'project-index' %}">Analyse</a></li>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            Settings <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            {% if user.rights.is_admin %}
                                <li><a href="{% url 'ldap-configuration-index' %}">Manage LDAP Integration</a></li>
                                <li><a href="{% url 'user-index' %}">Manage Users</a></li>
                                <li><a href="{% url 'team-index' %}">Manage Teams</a></li>
                            {% endif %}
                            <li><a href="{% url 'password_change' %}">Change Password</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div> <!-- end of container-fluid -->
</div> <!-- end of navbar -->

{% endblock %}

<div class="container-fluid">
    {% block mainpage %}{% endblock %}
</div> <!-- end of container-fluid -->

{% endblock %}
