{% extends 'base.html' %}
{% load staticfiles %}
{% block mainpage %}

    <div class="page-header">
        <h2>Know Dashboard</h2>
    </div>

<div class="container" style="text-align:center; min-width:900px; max-width:1500px">
   STUFF
</div>
  <div class="page-header">
            <h2>Another heading: </h2>
        </div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Column Name</th>
                <th>Column Name</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>Never Expires</td>
                    <td>{{ ldap.never_expires|length }}</td>
                </tr>
                <tr>
                    <td>Admin</td>
                    <td>{{ ldap.admin_accounts|length }}</td>
                </tr>
                <tr>
                    <td>Never Logged In</td>
                    <td>{{ ldap.never_logged_in|length }}</td>
                </tr>
        </tbody>
    </table>
</div>
 <div class="page-header">
            <h2>Admins: </h2>
     </div>


    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>

            </tr>
        </thead>
        <tbody>
            {% for item in ldap.admin_accounts %}
                <tr>
                    <td>{{ item.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

     <div class="page-header">
            <h2>Never logged in: </h2>
     </div>


    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>

            </tr>
        </thead>
        <tbody>
            {% for item in ldap.never_logged_in %}
                <tr>
                    <td>{{ item.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

     <div class="page-header">
            <h2>Logon Count (desc): </h2>
     </div>


    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for item in ldap.logon_count %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.logon_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    <div class="page-header">
            <h2>Password last set (desc): </h2>
     </div>


    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for item in ldap.password_last_set %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.pwd_last_set }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}

