{% extends 'base.html' %}
{% load staticfiles %}
{% block mainpage %}

    <!-- <div class="row">
        <div class="col-sm-12">
            <div class="">
                <div class=""><img class="ava_logo" src="{% static 'images/ava-small.png' %}" alt="AVA - Protect Your People" /></div>
                <div class="">Welcome to AVA.</div>
            </div>
        </div>
    </div> -->
    <div class="row dashboard">
        <div class="col-sm-4">
            <div class="panel">
                <!-- <i class="glyphicon glyphicon-user"></i> -->
                <h3>People and Identities</h3>
                <div class="panel-body">
                    <span>{{ person_count }} pe{{ person_count|pluralize:'rson,ople' }}</span><a href="{% url 'person-index' %}">View People</a>
                    <span>{{ identity_count }} identit{{ identity_count|pluralize:'y,ies' }}</span><a href="{% url 'identity-index' %}"></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel">
                <!-- <i class="glyphicon glyphicon-list"></i> -->
                <h3>Directory Servers</h3>
                <span>{{ ldap_count }} directory server{{ ldap_count|pluralize }}</span><a href="{% url 'ldap-configuration-index' %}">View LDAP</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel">
                <!-- <i class="glyphicon glyphicon-dashboard"></i> -->
                <h3>Tests</h3>
                <p><a href="{% url 'project-index' %}">{{ project_count }} test project{{ project_count|pluralize }}</a></p>
                <p><a href="{% url 'email-test-index' %}">{{ email_test_count }} email test{{ email_test_count|pluralize }}</a></p>
                {% comment %}
                <p><a href="{% url 'twitter-test-index' %}">{{ twitter_test_count }} Twitter test{{ twitter_test_count|pluralize }}</a></p>
                {% endcomment %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
