{% extends 'base.html' %}
{% load staticfiles %}
{% block mainpage %}


    <div class="page-header">
        <h1>Email Test Details : {{ test.name }}</h1>
    </div>



        <div class="table-responsive">
            <table class="table table-striped">
                  <tbody>
                        <tr>
                            <td>Name:</td>
                            <td>{{ test.name }}</td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td>{{ test_status }}</td>
                        </tr>
                        {% if test.fromaddr %}
                            <tr>
                                <td>From Address:</td>
                                <td>{{ test.fromaddr }}</td>
                            </tr>
                        {% endif %}
                        {% if test.subject %}
                            <tr>
                                <td>Subject:</td>
                                <td>{{ test.subject }}</td>
                            </tr>
                        {% endif %}
                        {% if test.body %}
                            <tr>
                                <td>Message Body:</td>
                                <td><pre style="font-family:inherit">{{ test.body }}</pre></td>
                            </tr>
                        {% endif %}
                        {% if test.html_body %}
                            <tr>
                                <td>Message HTML Body:</td>
                                <td><pre style="font-family:inherit">{{ test.html_body }}</pre></td>
                            </tr>
                        {% endif %}
                        {% if test.messagetype %}
                            <tr>
                                <td>Message Type:</td>
                                <td>{{ test.messagetype }}</td>
                            </tr>
                        {% endif %}
                        {% if test.testtype %}
                            <tr>
                                <td>Test Type:</td>
                                <td>{{ test.testtype }}</td>
                            </tr>
                        {% endif %}
                        {% if test.targets.count > 0 %}
                            <tr>
                                <td>Test Targets:</td>
                                <td>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email Address</th>
                                                <th>Link Clicked</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for target in test.targets.all %}
                                                <tr>
                                                    <td>{{ target.target.identity.name }}</td>
                                                    <td>{{ target.target.identifier }}</td>
                                                    <td>
                                                        {% for result in target.results.all %}
                                                            <span class="label label-default" title="{{ result.ua }}">{{ result.created }}</span>
                                                        {% endfor %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    <a href="{% url 'email-test-update' test.id %}" class="btn btn-primary">Update</a>
                    <a href="{% url 'email-test-delete' test.id %}" class="btn btn-danger">Delete</a>
                    <a href="{% url 'email-test-send' test.id %}" class="btn btn-primary">Send</a>



    </div>

{% endblock %}

