{% extends 'base.html' %}
{% block mainpage %}

    <div class="page-header">
     <h2>Current LDAP Configurations</h2>
</div>

    <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Server</th>
                        <th>Dump DN</th>
                        <th>

                                <a href="{% url 'ldap-configuration-create' %}" class="glyphicon glyphicon-plus"></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
    {% for ldap_configuration in ldap_configuration_list %}
    <tr>
        <td>{{ ldap_configuration.server }}</td>
        <td>{{ ldap_configuration.dump_dn }}</td>
        <td>

          <a href="{% url 'ldap-configuration-detail' ldap_configuration.id  %}"><button type="button" class="btn btn-primary btn-sm">View</button></a>
          <a href="{% url 'ldap-configuration-update' ldap_configuration.id  %}"><button type="button" class="btn btn-primary btn-sm">Update</button></a>
          <a href="{% url 'ldap-configuration-delete' ldap_configuration.id  %}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
    </tr>
    {% endfor %}
     </tbody>
    </table>



{% endblock %}
