{% extends 'base.html' %}
{% load staticfiles %}
{% load group_filters %}
{% block mainpage %}

<div class="page-header">
    <h2>Group: {{ group.name }}</h2>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
                <tr>
                    <td>Name:</td>
                    <td>{{ group.name }}</td>
                </tr>
                <tr>
                    <td>Group Type:</td>
                    <td>{{ group.group_type|group_type }}</td>
                </tr>
                {% if group.parent %}
                    <tr>
                        <td>Parent Group:</td>
                        <td><a href="{% url "group-detail" group.parent.id %}">{{ group.parent.name }}</a></td>
                    </tr>
                {% endif %}
                <tr>
                    <td># Members:</td>
                    <td>{{ group.identities.count }}</td>
                </tr>
            </tbody>
        </table>
        
        <p>
            <a href="{% url 'group-update' group.id %}" class="btn btn-primary">Update</a>
            <a href="{% url 'group-delete' group.id %}" class="btn btn-danger">Delete</a>
        </p>
</div> <!-- end of column -->


<div class="page-header">
    <h2>Members: </h2>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>
                       <a href="{% url 'identity-create' %}" class="glyphicon glyphicon-plus"></a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for identity in group.identities.all %}
                <tr>
                    <td>{{ identity.name }}</td>
                    <td>{{ identity.description }}</td>
                    <td>
                        <a href="{% url 'identity-detail' identity.id  %}" class="btn btn-primary btn-sm">View</a>
                        <a href="{% url 'identity-update' identity.id  %}" class="btn btn-primary btn-sm">Update</a>
                        <a href="{% url 'identity-delete' identity.id  %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
