# EMAIL SETTINGS

EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = 'localhost'
EMAIL_PORT = 25
EMAIL_HOST_USER = ''        # Empty for no authentication
EMAIL_HOST_PASSWORD = ''    # Empty for no authentication
EMAIL_USE_SSL = False       # SSL/TLS negotiated immediately (like HTTPS does)
EMAIL_USE_TLS = False       # Use STARTTLS command to enable SSL/TLS
