
## TODO: Remove this file. It's not used in a docker-only AVA system
##       (which is the direction we're headed)

HAYSTACK_CONNECTIONS = {
    'default': {
        'ENGINE': 'haystack.backends.elasticsearch_backend.ElasticsearchSearchEngine',
        'URL': 'http://127.0.0.1:9200/',
        'INDEX_NAME': 'haystack',
    },
}

# MANDRILL SETTINGS

MANDRILL_API_KEY = "changeme"
EMAIL_BACKEND = "djrill.mail.backends.djrill.DjrillBackend"


# CELERY SETTINGS
BROKER_URL = 'amqp://avasecure:changeme@localhost:5672/avatasks'
CELERY_ACCEPT_CONTENT = ['json']
CELERY_TASK_SERIALIZER = 'json'
CELERY_RESULT_SERIALIZER = 'json'


# MISC SETTINGS

